

body {
    background: #ffffff;
    color: #444444;
    font-family: "Input Mono Narrow Bold", "Input Mono Narrow Regular", monospace;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cv-list{
    display:block;
    margin-left: 80px;
    margin-right:40px;
    margin-top:80px;

}
.contact-info{

    display:flex;
    flex-direction: column;
    margin-bottom:60px;
    text-align: right;
    margin-right:80px;
    padding:20px;

}


.email{
    margin-bottom:20px;
}
h2{
    margin-top: 40px;
    margin-bottom:20px
}
ul{
    margin-bottom: 40px;
}
.nav-wrap{
 position:relative;
 
}
main{
    flex-basis:0;
    flex-grow:1;
    margin: 0 auto;
    min-width:66%;
   /*display:flex;
    flex-direction:column;
    padding-bottom:0*/
}
.nav-wrap ul {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
@media (min-width:700px){
    .nav-wrap ul{
        flex-direction:column;
    }
}
.nav-wrap{
    padding-right: 20px;
    margin-left:20px;
}

    ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    font-size: 100%;
    font: inherit;
    
    }

    li{
    margin-bottom:20px;
    padding:0;
    transition: font-size ease-in-out 130ms;
    }

    li:hover{
    transition: font-size ease-in-out 130ms;  
    }
    
    h1 a {
    text-decoration: none;
}

     a {
    color:#444444;
    transition: color ease-in 130ms;
    text-decoration: underline;
    }


     a:hover{
    transition: color ease-in 130ms;
    color:#1c8a86;
    }

    img {
        width: 100%;
        height: auto;
      
    }

.gallery {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right:20px;
    margin-left:20px;
    margin-top:40px;
    
}

.gallery a {
    margin: 30px 0;
}

@media (min-width: 700px) {
    body {
        flex-direction: row;
    }
    .gallery {
      flex-direction: row;
      align-items:flex-end;
    }
    .gallery a {
        flex: 30%;
        margin: 15px;
    }
   
  }